.layout {
    $nav-height: 2em;
    .nav {
        height: $nav-height;
        background-color: #e7e8eb;
        top: 0;
        left: 0;
        position: fixed;
        width: 100vw;
        
        form {
            display: inline;
        }
    }
    .content {
        margin-top: $nav-height;
    }
}